body {
    display: flex;
    flex-direction: column;
    margin: 0
}

.header {
    background-color:aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.section-one {
    background-color:gray;
    display: flex;
    justify-content: center;
}

.one-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.one-right {
    display: flex;
}

.section-two {
    background-color:aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnails {
    display: flex;
}

div[class*="thumb-"] {
    display: flex;
    flex-direction: column;
}

.section-three {
    background-color:gray
}

.section-four {
    background-color:aqua
}

.footer {
    background-color:gray
}

.flag {
    max-width: 30px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.concordia {
    max-width: 400px;
}